<link rel="stylesheet" href="/css/editpost.css">
{% extends 'base.html' %}

{% block content %}
  <h1>Edit Post</h1>
  <form method="post" enctype="multipart/form-data" class="edit-post-form">
    {% csrf_token %}
    <div class="form-group">
      <label for="{{ form.image.id_for_label }}">Image:</label>
      {{ form.image }}
    </div>
    <div class="form-group">
      <label for="{{ form.caption.id_for_label }}">Caption:</label>
      {{ form.caption }}
    </div>
    <button type="submit" class="btn btn-primary">Save Changes</button>
  </form>
{% endblock %}
